/*----------------------Colores-----------------------------------*/
:root{
    --primary:rgb(54, 54, 54);
    --secondary:#fb8840;
    --secondaryHover:rgb(219, 135, 79);
    --secondaryBackground:#ffffff;
    --light:rgb(253, 253, 253);
    --morado:#66385f;
    --azul:#2d85b0;
}
/*----------------------Fuentes-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/*----------------------Estilos generales-----------------------------------*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
body{
    padding: 0;
    background-color: var(--secondaryBackground);
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    z-index: -99;
}
img{
    width: max-content;
    object-fit: cover;
}
p{
    line-height: 25px;
}
.container{
    max-width: 9000px;
    width: 90%;
    margin: auto;
}
.header{
    position: relative;
    z-index: -10;
}

/*----------------------Menú-----------------------------------*/
.menu__icon{
    font-size: 1.5em;
    background-color: var(--secondary);
    padding: 8px 10px;
    border-radius: 15%;
    margin-left: 5px;
    color: var(--light);
}
.menu__icon:hover{
    background-color: var(--secondaryHover);
}
.menu{
    position: fixed;
    padding: 0;
    width: 100vw;
    height: 100vh;
    top: 105px;
    left: 50%;
    transform: translateX(50%);
    background-color:var(--light);
    transition: .5s;
    z-index: 9999;
}
.menu__item{
    list-style:none ;
    padding: 0;

}
.menu__link{
    display: block;
    text-decoration: none;
    font-weight: 100;
    color: var(--secondary);
    background-color: var(--light);
    width: 100%;
    padding: 10px 30px;
    margin: 0;
    text-align: left;
    font-size: 1.2em;
    transition: .5s;
    border-bottom: solid 1px var(--secondary);
}
.menu__link:hover{
    color: var(--light);
    background-color: var(--secondary);
}
.menu__link>i{
    font-size: 1.2em;
    width: 40px;
}
.menu__link--active{
    color: var(--light);
    background-color: var(--secondary);    
}
.nav__box{
    position: fixed;
    z-index: 9999999;
    padding: 10px 0;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: var(--light);
    width: 100%;
    border-bottom: solid 2px var(--secondaryHover);
}
.nav__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.nav__logo{
  height: 80px;
  width: auto;
}
.nav-show{
    transform: translateX(-50%) scaleX(1);
}
.menu2{
    display: none;
    visibility: hidden;
}
/*----------------------Carousel-----------------------------------*/
.carousel{
    
}
.carousel__contenedor{
    position: relative;
    margin-top: 106px;
}
.carousel__elemento img{
    height: 300px;
}
.btn-carousel{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: 50%;
    transform: translateY(-50%) scale(1,1.2);
    z-index: 9;
    background-color: transparent;
    font-size: 2em;
    color: var(--light);
    text-shadow: 0px 2px 5px black;
    cursor: pointer;
    transition: scale .5s;
    outline: none;
    margin: 5px;
}
.btn-carousel:hover{
    transform:translateY(-50%) scale(1.1,1.3);
    text-shadow: 0px 2px 7px black;
    color: var(--secondary);
}
.carousel__siguiente{
    right: 0%;
}
.carousel__indicadores{
    position: absolute;
    bottom: 10px;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    
}
.carousel__elemento{
    position: relative;
}
.carousel__txt{
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.3em;
    color: var(--light);
    text-shadow: 0px 2px 2px var(--primary);
}
.glider-dot{
    background-color:  var(--light) !important;

}
.active{
    background-color:  var(--secondary) !important;
}
.carousel__elemento{
    position: relative;
    background-color: black;
}
.carousel__elemento{
    position: relative;
    background-color: black;
}
.carousel__elemento::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
    height: 100%;
}

/*----------------------Principal Section-----------------------------------*/
.notices{
position: relative;
margin: 20px auto;
z-index: -99000;
}
.copy-title{
    color: var(--secondary);
    font-size: 2em;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 533px;
}
.card{
    background:var(--light);
    height: max-content;
    padding:15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.404);
    margin: 20px auto;
}
.card__img{
    height: 170px;
    width: 100%;
    border-radius: 10px 0 0 10px;
    margin-bottom: 20px;
}

.card__title{
    font-size: 2em;
    color: var(--secondary);
    margin: 0px auto 10px;
}
.card__txt{
    text-align: justify;
    color:var(--dark);
}
.card__link{
    display: block;
    color: var(--light);
    background-color: var(--primary);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.404);
    text-decoration: none;
    padding: 15px 23px;
    width: max-content;
    text-align: center;
    margin: 10px auto;
    border-radius: 7px;
    font-weight: 600;
    transition: all .5s;
    margin-top: 30px;
}
.card__link:hover{
    background-color: var(--light);
    color: var(--primary);
}

/*----------------------Responsive Tablet-----------------------------------*/
@media screen and (min-width:768px){


}
/*----------------------Responsive Desktop-----------------------------------*/
@media screen and (min-width:1024px){
    .menu__icon{
        display: none;
        visibility: hidden;
    }
    .menu{
        transform: scale(1) translateX(0%);
        width: max-content;
        height: max-content;
        position: static;
        background-color: transparent;
    }
    
    .menu__item{
        display: inline-flex;

    }
    .menu__link{
        display: inherit;
        width: max-content;
        background-color: transparent;
        font-size: 1em;
        transition: all .5s;
        border-bottom: none;
        padding: 7px 10px;
    }
    .menu__link:hover{
        
    }
    .menu__link--active{
        background-color: var(--secondary);
        border-radius: 3px 0 0 10px;

    }
    .menu__link--active:hover{
        background-color: var(--secondaryHover);
    }
    .menu2{
        position:absolute;
        background-color: var(--secondaryBackground);
        top: 102px;
        width: 100%;
        padding: 0;
        left: 0;
        transform: scale(0);
        transition: all .5s;
        visibility: visible;
        display: block;
    }
    .menu2--container{
        max-width: 9000px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    .menu__item2{
        display: inline-flex;
    }
    .menu__link2{
        text-decoration: none;
        color: var(--dark);
        padding: 10px;
    }
    .nav-show2{
        transform: translateX(0%) scaleY(1);
    }
    .card{
        width: 31%;
    }
    .carousel__elemento img{
        height: 500px;
    }
    .carousel__img{
        position: relative;
        height: 500px;

    }
}